/* student css  */

/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Apply Montserrat font style to all heading tags */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block; /* Ensures underline is only under text */
    font-weight:bold;
     color: rgb(236, 76, 8);
}

/* Underline effect */
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust position as needed */
    height: 2px; /* Height of the underline */
    width: 100%;
    background-color: #e45f06; /* Orange color */
    transform: scaleX(0); /* Start with no width */
    transition: transform 0.5s ease; /* Smooth transition */
}

/* Trigger the underline effect on page load */
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    animation: draw 0.5s forwards; /* Animation on load */
}

@keyframes draw {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

/* Hover effect */
h1:hover::after, h2:hover::after, h3:hover::after, h4:hover::after, h5:hover::after, h6:hover::after {
    transform: scaleX(1); /* Full width on hover */
}





.form-label {
margin-top: 10px;
float: left;
}

.form-control {
background-color: #ffffff;
border: 1px solid #ced4da;
color: #495057;
transition: background-color 0.3s ease, border-color 0.3s ease;
}

.form-control:focus {
background-color: #f8f9fa;
color: #495057;
border-color: #80bdff;
box-shadow: none;
}

.form-control:hover {
background-color: #f8f9fa;
color: #495057;
}

.btn-orange {
background-color: #FF7D29;
border: none;
color: #ffffff;
transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-orange:hover {
background-color: white;
border:2px solid #FF7D29;
transform: scale(1.05);
color: #FF7D29;
}

.btn-primary:active {
background-color: #004085;
transform: scale(0.95);
}
.card {
transition: transform 0.5s ease-in-out;
/* Additional styling for the card */
}

.card:hover {
transform: scale(1.05); /* Increases size by 20% */
}


/* CSS to disable the row for projects that have reached maximum capacity */
.project-full {
background-color: #f8d7da; /* Light red background to indicate full capacity */
opacity: 0.6;
pointer-events: none;
}

.project-full td, .project-full input[type='radio'] {
cursor: not-allowed;
}

.profile-card {
position: relative;
width: 400px;
margin: 100px auto;
padding: 20px;
background-color: white;
border-radius: 20px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
transform-style: preserve-3d;
transform: perspective(1000px);
transition: transform 0.6s ease;
}
.profile-card:hover {
transform: perspective(1000px) rotateY(10deg) rotateX(5deg);
}
.profile-card h2 {
text-align: center;
color: #e45f06;
}
.profile-card p {

color: #333;
margin: 5px 0;
}
.profile-card .fa {
margin-right: 10px;
color: #e45f06;
}
.profile-card img {
width: 150px;
height: 150px;
border-radius: 50%;
display: block;
margin: 0 auto 20px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.profile-card .details {
background-color: #fff;
padding: 10px;
border-radius: 15px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

body {
background-color: #f0f2f5;
font-family: 'Roboto', sans-serif;
}
.profile-card {
max-width: 700px;
width: 100%;
height: auto;
margin: 50px auto;
padding: 30px;
background: white;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
transform-style: preserve-3d;
transition: transform 0.1s;
position: relative;
perspective: 1000px; /* Perspective for 3D effect */
}
.profile-card img {
border-radius: 50%;
width: 150px;
height: 150px;
display: block;
margin: 0 auto;
border: 5px solid #e45f06;
}
.profile-card h2 {
margin: 20px 0;
color: #e45f06;
text-align: center;
}
.profile-card p {
color: #333;
margin: 10px 0;
}
.profile-card label {
font-weight:bold;
font-size:18px;
color: #e45f06;
}
.container {
perspective: 1000px;
}
.btn {
background-color: #e45f06;
color: white;
border: none;
}
.btn:hover {
background-color: #d63a00;
}

.form-control{
  border:none;
  border-bottom: 3px solid orange;
  background:transparent;
 /* border: 3px solid orange; */

}

label{
  font-size:20px;
  font-weight:bold;
  color:rgb(236, 76, 8);;
  text-shadow: 2px 2px 2px white;
}



#btnorange{
  background-color: rgb(236, 76, 8);
  color: white;
  border-radius: 50px;
  height: 50px;
  border: none;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  width: 200px;
  text-decoration: none; 
}
#btnorange a{
  text-decoration: none;
  color: white;
}

#btnorange:hover{
  
  color:  rgb(236, 76, 8);
  background-color: white;
  border: 2px solid rgb(236, 76, 8);
}







/* faculty admin css  */

/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Apply Montserrat font style to all heading tags */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block; /* Ensures underline is only under text */
    font-weight:bold;
     color: rgb(236, 76, 8);
}

/* Underline effect */
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust position as needed */
    height: 2px; /* Height of the underline */
    width: 100%;
    background-color: #e45f06; /* Orange color */
    transform: scaleX(0); /* Start with no width */
    transition: transform 0.5s ease; /* Smooth transition */
}

/* Trigger the underline effect on page load */
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    animation: draw 0.5s forwards; /* Animation on load */
}

@keyframes draw {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

/* Hover effect */
h1:hover::after, h2:hover::after, h3:hover::after, h4:hover::after, h5:hover::after, h6:hover::after {
    transform: scaleX(1); /* Full width on hover */
}


body {
background-color: #f8f9fa;
color: #212529;
font-family: 'Arial', sans-serif;
}



.card {
background-color: #ffffff;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s ease;
font-size:20px;
font-weight:bolder;
border: 5px solid #FFBF78;
}

.card:hover {
box-shadow: 0 8px 16px rgba(233, 94, 2, 0.584);
transition: ease-in-out 0.5s;
}

.form-label {
color: #e45f06;
float: left;
margin-top: 10px;
}

.form-control {
background-color: #ffffff;
border: 1px solid #ced4da;
color: #495057;
transition: background-color 0.3s ease, border-color 0.3s ease;
}

.form-control:focus {
background-color: #f8f9fa;
color: #495057;
border-color: #80bdff;
box-shadow: none;
}

.form-control:hover {
background-color: #f8f9fa;
color: #495057;
}





/* CSS to disable the row for projects that have reached maximum capacity */
.project-full {
background-color: #f8d7da; /* Light red background to indicate full capacity */
opacity: 0.6;
pointer-events: none;
}

.project-full td, .project-full input[type='radio'] {
cursor: not-allowed;
}



#backgroundmujlogo{
position: relative; /* Ensures proper positioning for the pseudo-element */
background-color: white;
padding: 20px;
z-index: 1; /* Keeps the content above the background image */
}


ul li span{
font-size:20px;
}

.profile-card {
position: relative;
width: 400px;
margin: 100px auto;
padding: 20px;
background-color: white;
border-radius: 20px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
transform-style: preserve-3d;
transform: perspective(1000px);
transition: transform 0.6s ease;
}
.profile-card:hover {
transform: perspective(1000px) rotateY(10deg) rotateX(5deg);
}
.profile-card h2 {
text-align: center;
color: #e45f06;
}
.profile-card p {

color: #333;
margin: 5px 0;
}
.profile-card .fa {
margin-right: 10px;
color: #e45f06;
}
.profile-card img {
width: 150px;
height: 150px;
border-radius: 50%;
display: block;
margin: 0 auto 20px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.profile-card .details {
background-color: #fff;
padding: 10px;
border-radius: 15px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

}


.profile-card {
max-width: 700px;
width: 100%;
height: auto;
margin: 50px auto;
padding: 30px;
background: white;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
transform-style: preserve-3d;
transition: transform 0.1s;
position: relative;
perspective: 1000px; /* Perspective for 3D effect */
}
.profile-card img {
border-radius: 50%;
width: 150px;
height: 150px;
display: block;
margin: 0 auto;
border: 5px solid #e45f06;
}
.profile-card h2 {
margin: 20px 0;
color: #e45f06;
text-align: center;
}
.profile-card p {
color: #333;
margin: 10px 0;
}
.profile-card label {
font-weight:bold;
font-size:18px;
color: #e45f06;
}
.container {
perspective: 1000px;
}


/* Define light colors */
.table-light-1 { background-color: #f0f8ff; } /* Alice Blue */
.table-light-2 { background-color: #f5f5dc; } /* Beige */
.table-light-3 { background-color: #faf0e6; } /* Linen */
.table-light-4 { background-color: #ffebcd; } /* Blanched Almond */
.table-light-5 { background-color: #fffaf0; } /* Floral White */
.table-light-6 { background-color: #faebd7; } /* Antique White */
.table-light-7 { background-color: #fffacd; } /* Lemon Chiffon */
.table-light-8 { background-color: #f0fff0; } /* Honeydew */
.table-light-9 { background-color: #f5fffa; } /* Mint Cream */
.table-light-10 { background-color: #f0ffff; } /* Azure */
.table-light-11 { background-color: #e6e6fa; } /* Lavender */
.table-light-12 { background-color: #fff0f5; } /* Lavender Blush */
.table-light-13 { background-color: #fff5ee; } /* Seashell */
.table-light-14 { background-color: #fdf5e6; } /* Old Lace */
.table-light-15 { background-color: #f5f5f5; } /* White Smoke */
.table-light-16 { background-color: #f5f5f5; } /* White Smoke */
.table-light-17 { background-color: #f0f5f5; } /* Light Gray */
.table-light-18 { background-color: #f5f0f5; } /* Light Pink */
.table-light-19 { background-color: #fafad2; } /* Light Goldenrod Yellow */
.table-light-20 { background-color: #f0f8f0; } /* Light Mint */
.table-light-21 { background-color: #f5f0f0; } /* Light Rose */
.table-light-22 { background-color: #f5f5dc; } /* Light Beige */
.table-light-23 { background-color: #f5f5f5; } /* Light Smoke */
.table-light-24 { background-color: #f0fff0; } /* Light Honeydew */
.table-light-25 { background-color: #f5f5f5; } /* Light White Smoke */
.table-light-26 { background-color: #fdfd96; } /* Light Lemon */
.table-light-27 { background-color: #f5f0ff; } /* Light Lavender */
.table-light-28 { background-color: #f5e4e4; } /* Light Coral */
.table-light-29 { background-color: #faf0e6; } /* Light Linen */
.table-light-30 { background-color: #f0ffff; } /* Light Azure */
.table-light-31 { background-color: #f0f8ff; } /* Light Alice Blue */
.table-light-32 { background-color: #f5f5dc; } /* Light Beige */
.table-light-33 { background-color: #f0f5f5; } /* Light Light Gray */
.table-light-34 { background-color: #f5f5f5; } /* Light White Smoke */
.table-light-35 { background-color: #f0f8ff; } /* Light Alice Blue */
.table-light-36 { background-color: #f5f5dc; } /* Light Beige */
.table-light-37 { background-color: #faf0e6; } /* Light Linen */
.table-light-38 { background-color: #fffaf0; } /* Light Floral White */
.table-light-39 { background-color: #f5fffa; } /* Light Mint Cream */
.table-light-40 { background-color: #f0ffff; } /* Light Azure */
.table-light-41 { background-color: #e6e6fa; } /* Light Lavender */
.table-light-42 { background-color: #fff0f5; } /* Light Lavender Blush */
.table-light-43 { background-color: #fff5ee; } /* Light Seashell */
.table-light-44 { background-color: #fdf5e6; } /* Light Old Lace */
.table-light-45 { background-color: #f5f5f5; } /* Light White Smoke */
.table-light-46 { background-color: #f5f0f5; } /* Light Pink */
.table-light-47 { background-color: #fafad2; } /* Light Goldenrod Yellow */
.table-light-48 { background-color: #f0f8f0; } /* Light Mint */
.table-light-49 { background-color: #f5f0f0; } /* Light Rose */
.table-light-50 { background-color: #f5f5dc; } /* Light Beige */




/* common css  */



/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');



/* Base Styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

/* Container and card styles */
.container {
  transition: transform 0.5s ease-in-out;
  height:420px;
}

#btnorange {
background-color: rgb(236, 76, 8);
color: white;
border-radius: 50px;
height: 45px;
border: none;
text-align: center;
justify-content: center;
font-weight: bold;
font-size: 15px;
width: 180px;
text-decoration: none; 

}
#btnorange a{
text-decoration: none;
color: white;
}

#btnorange:hover{

color:  rgb(236, 76, 8);
background-color: white;
border: 2px solid rgb(236, 76, 8);
}

.container:hover {
  transform: scale(1.05);
}

/* Form and floating labels */
.form-control {
  border: none;
  border-bottom: 3px solid orange;
  background: transparent;
}

label {
  font-size: 20px;
  font-weight: bold;
  color: rgb(236, 76, 8);
  text-shadow: 2px 2px 2px white;
  transition: all 0.3s ease;
}

.form-group {
  position: relative;
  margin-top: 40px;
}

.form-group label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-100%);
  font-size: 18px;
  pointer-events: none;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
  top: -10px;
  left: 0;
  font-size: 18px;
  color: rgb(236, 76, 8);
}

/* Make the label stay at the top */
.label-fixed {
  top: -20px;
  font-size: 18px;
  color: rgb(236, 76, 8);
}


#backgroundmujlogo{
position: relative; /* Ensures proper positioning for the pseudo-element */
background-color: white;
padding: 20px;
z-index: 1; /* Keeps the content above the background image */
}


.img-fluid{
opacity: 0.9;
position: absolute;
}
.mujlogo{
max-width: 200px;
position:relative;

 z-index:1;
 opacity:0.8;
}

#border {
position: relative;
overflow: hidden;
border-radius:50px;
box-shadow:2px 2px 20px 2px black;
}

#border::before {
content: '';
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-color: transparent;
bottom: 0;
left: 0;
border-bottom: 2px solid #e45f06; /* Orange bottom border */
transition: all 0.5s ease-in-out;
}

#border::after {
content: '';
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-color: transparent;
bottom: 0;
right: 0;
border-right: 2px solid #e45f06; /* Orange right border */
transition: all 0.5s ease-in-out;
}

#border:hover::before {
width: 100%; /* Draw the bottom border */
transition: width 0.5s ease-in-out;
}

#border:hover::after {
height: 100%; /* Draw the right border */
transition: height 0.5s 0.5s ease-in-out; /* Delay after bottom border */
}

#border::after, #border::before {
z-index: 2;
}

#border:hover {
position: relative;
z-index: 2;
border-top: 2px solid #e45f06; /* Draw top border */
border-left: 2px solid #e45f06; /* Draw left border */
animation: draw-border 1.5s ease forwards;
}

/* Keyframes for the animation */
@keyframes draw-border {
0% {
    border-width: 0;
}
25% {
    border-left-width: 2px;
}
50% {
    border-top-width: 2px;
}
75% {
    border-right-width: 2px;
}
100% {
    border-bottom-width: 2px;
}
}

/* Mobile and responsiveness */
@media (max-width: 750px) {
  h4, h3 {
    font-size: 1.5rem;
  }

    body {
background-image: url('https://th.bing.com/th/id/OIP.Mg6RTiDI8EgEZsWzt8uzRQHaHa?w=139&h=186&c=7&r=0&o=5&dpr=1.3&pid=1.7');
background-size: cover; /* Ensures the image covers the entire background */
background-position: center; /* Centers the image */
background-repeat: no-repeat; /* Prevents the image from repeating */
background-attachment: fixed; /* Keeps the image fixed during scroll */
}



#btnorange {
background-color: rgb(236, 76, 8);
color: white;
border-radius: 50px;
height: 45px;
border: none;
text-align: center;
justify-content: center;
font-weight: bold;
font-size: 15px;
width: 150px;
text-decoration: none; 

}
#btnorange a{
text-decoration: none;
color: white;
}

#btnorange:hover{

color:  rgb(236, 76, 8);
background-color: white;
border: 2px solid rgb(236, 76, 8);
}
}
.fade-in {
opacity: 0;
transition: opacity 2s ease-in-out;
animation: fadeEffect 2s forwards;
}

@keyframes fadeEffect {
to {
    opacity: 1;
}
}
.card-body {

height: 100%;
box-shadow: 10px -15px 15px 10px rgba(255, 255, 255, 1); /* White shadow on the right */
}


